  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div class="alert alert-error">
      <div id="error_explanation">
        <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Oops! It looks like you have <%= pluralize(@user.errors.count, "error") %>.</strong>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      </div>
    <% end %>

  <h1>Join Mountain</h2>
  <hr>

  <form>
    <fieldset>
      <div class="field">
        <%= f.text_field :email, :placeholder => "Your Email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, :placeholder => "Create Password" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></br>
      </div>
    </br>
      <button type="submit" class="btn btn-large btn-flat">Create Account</button>
    </fieldset>
  </form>
  <% end %>
</div>