<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <fieldset>
    <div class="field">
      <%= f.text_field :email, :placeholder => "Your Email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => "Create Password" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></br>
    </div>
  </br>
    <button type="submit" class="btn btn-large btn-flat">Submit</button>
  </fieldset>
</form>
<% end %>