<h2>Snapshot <small>Data for the last 30 days.</small></h2>

<div class="row-fluid"> 
  <div class="bignums">
    <ul>
      <div class="span3">
        <li>
        17,504
        <%= image_tag "uparrow.svg",'data-original-title' => "+8.25%", :class => "arrows" %>
        <p>Views<p>
      </li>
      </div>

      <div class="span3">
        <li>
        10,987
        <%= image_tag "uparrow.svg",'data-original-title' => "+5.57%", :class => "arrows" %>        
        <p>Visitors<p>
      </li>
      </div>

      <div class="span3">
        <li>
        01:51
        <%= image_tag "uparrow.svg",'data-original-title' => "+22.23%", :class => "arrows" %>
        <p>Avg Time on Site<p>
      </li>
      </div>

      <div class="span3">
        <li>
        21.82%
        <%= image_tag "uparrow.svg",'data-original-title' => "+15.73%", :class => "arrows" %>
        <p>From Mobile<p>
      </li>
      </div>


<!-- Tumblr Information -->   
<div class="row-fluid">
  <div class="span3">
    <li>
      202,391
        <%= image_tag "uparrow.svg",'data-original-title' => "+3.83%", :class => "arrows" %>
      <p>Total Notes<p>
    </li>
  </div>

  <div class="span3">
    <li>
      30 <%= image_tag "downarrow.svg",'data-original-title' => "-2.58%", :class => "arrows" %>
      <p>Avg Number of Posts<p>
    </li>
  </div>

  <div class="span3">
    <li>
      435 <%= image_tag "uparrow.svg",'data-original-title' => "+10.11%", :class => "arrows" %>
      <p>Avg Notes per Post<p>
    </li>
  </div>

  <div class="span3">
    <li>
      80,117 <%= image_tag "downarrow.svg", 'data-original-title' => "-1.02%", :class => "arrows" %>
      <p>Followers<p>
    </li>
  </div>
  </ul>
</div>




