<div class="hero-unit container-fluid">
	<h1>Tumblr Stats</h1>
	<p>See what happens to your posts on Tumblr, whether you're blogging or sharing cat pictures.</p>
	<%= image_tag "mountainmac.png" %>
</div>

<div class="container-fluid marketing">
	<div class="row-fluid">
		<div class="span4">
			<%= image_tag 'track.svg', :width => 150 %>
			<h2>Track Variations</h2>
			<p>Watch your following grow. Mountain shows you how Tumblr traffic, likes and reblogs change over time.</p>
		</div>
		<div class="span4">
			<%= image_tag 'dig.svg', :width => 150 %>
			<h2>Dig Deep</h2>
			<p>Figure out what posts perform best. Mountain drills down and shows you how individual Tumblr posts are preforming.</p>
		</div>
		<div class="span4">
			<%= image_tag 'cross.svg', :width => 150 %>
			<h2>Cross Metrics</h2>
			<p>Get accutate information across the board. Mountain gives you information from multiple sources.</p>
		</div>
	</div>
</div>

<%= render 'shared/footer' %>

