<h2>Snapshot <small>Data for the last 30 days.</small></h2>
<div class="bignums">
	<ul>
		 <div class="span3">
			<li>
		    <%= @dashboard.metric(:snapshot, page_path: @page_path).pageviews %> <%= image_tag "downarrow.svg", 'data-original-title' => "Test", :class => "arrows" %>
				<p>Views<p> 
			</li>
		</div>

		 <div class="span3">
			<li>	
					<%= @dashboard.metric(:snapshot, page_path: @page_path).visits %> <%= image_tag "uparrow.svg", 'data-original-title' => "Test", :class => "arrows" %>
				<p>Visits</p>
			</li>
		</div>

		<div class="span3">
			<li>
					<%= format_time(@dashboard.metric(:snapshot, page_path: @page_path).avg_time_on_site)  %>
				<%= image_tag "downarrow.svg", 'data-original-title' => "Test", :class => "arrows" %>
				<p>Avg Time on Page<p> 
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @dashboard.metric(:mobile_ratio, page_path: @page_path) %>%	
				<%= image_tag "uparrow.svg", 'data-original-title' => "Test", :class => "arrows" %>
				<p>From Mobile<p>
			</li>
		</div>
	</ul>
</div>

<!-- jQuery for Tooltips -->
<script type="text/javascript">
$(document).ready(function(){
	$('.arrows').tooltip(function(){
	});
});
</script>