<div class="row-fluid">
	<%= render 'header' %>
</div>
<div class="row-fluid">
	<%= render 'snapshot'	%>
</div>
<div class="row-fluid">
	<%= render 'top_traffic_sources'	%>
	<%= render 'navigation_summary' %>
	<%= render 'top_keywords' %>
</div>

