<%= form_for(@dashboard) do |f| %>
  <% if @dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h2>

      <ul>
      <% @dashboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <%= f.text_field :name, :placeholder => 'Dashboard Name', :class => 'form-textfield' %>
  </div>
  <div class="field">   
    <%= collection_select(:dashboard, :web_property_id, @profiles, :web_property_id, :title, :prompt => true )%>
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-primary btn-flat" %>
  </div>
<% end %>
