<div class="row-fluid form-override"> 

<%= form_for(@dashboard) do |f| %>
  <% if @dashboard.errors.any? %>
  <div class="alert alert-error">
    <div id="error_explanation">
      <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Oops! It looks like you have <%= pluralize(@dashboard.errors.count, "error") %>.</strong>

      <ul>
      <% @dashboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <h2>Select Tumblr Blog</h2>
  <hr>  

  <div class="field ">
    <%= f.text_field :name, :placeholder => 'Dashboard Name', :class => 'form-textfield' %>
  </div>
  <div class="field">   
    <%= collection_select(:dashboard, :web_property_id, @profiles, :web_property_id, :title, :prompt => "Website Profiles" )%>
  </div>
    <div class="field">   
    <%= collection_select(:dashboard, :blog_id, @blogs, :id, :title, :prompt => "Tumblog name" )%>
  </div>


  <button type="submit" class="btn btn-large btn-flat">Submit</button>
<% end %>

</div>