<h2>Snapshot</h2>
<div class="row-fluid">	
	<div class="bignums">
	<ul>
		<div class="span3">
			<li>
		    <%= @dashboard.snapshot.pageviews %> 
		    <%= image_tag arrow(@dashboard, :pageviews), 'data-original-title' => formatted_variation(@dashboard, :pageviews), :class => "arrows" %> 
				<p>Views<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= @dashboard.snapshot.visitors %> 
				<%= image_tag arrow(@dashboard, :visitors),'data-original-title' => formatted_variation(@dashboard, :visitors), :class => "arrows" %>
				<p>Visitors<p>
			</li>
		</div>

		<div class="span3">
			<li>
				<%= format_time(@dashboard.snapshot.avg_time_on_site) %> 
				<%= image_tag arrow(@dashboard, :avg_time_on_site),'data-original-title' => formatted_variation(@dashboard, :avg_time_on_site), :class => "arrows"%>
				<p>Avg Time on Site<p>
			</li>
		</div>

		<div class="span3">
			<li>
				22% <%= image_tag "uparrow.svg", 'data-original-title' => "Test", :class => "arrows" %>
				<p>From Mobile<p>
			</li>
		</div>
<div class="row-fluid">
	<div class="span3">
		<li>
		   322 <%= image_tag "uparrow.svg",'data-original-title' => "Test", :class => "arrows" %>
			<p>Total Notes<p>
		</li>
	</div>

	<div class="span3">
		<li>
			214 <%= image_tag "downarrow.svg",'data-original-title' => "Test", :class => "arrows" %>
			<p>Likes<p>
		</li>
	</div>

	<div class="span3">
		<li>
			108 <%= image_tag "uparrow.svg",'data-original-title' => "Test", :class => "arrows" %>
			<p>Reblogs<p>
		</li>
	</div>

	<div class="span3">
		<li>
			64 <%= image_tag "downarrow.svg", 'data-original-title' => "Test", :class => "arrows" %>
			<p>Followers<p>
		</li>
	</div>
	</ul>
</div>



