<h2>Snapshot</h2>
<div class="row-fluid">	
	<div class="bignums">
	<ul>
		<div class="span3">
			<%= render "snapshot_pageviews" %>
		</div>

		<div class="span3">
			<%= render 'snapshot_visitors' %>
		</div>

		<div class="span3">
			<%= render 'snapshot_avg_time_on_site' %>
		</div>
		<div class="span3">
			<%= render 'snapshot_mobile_ratio' %>
		</div>

<!-- Tumblr Information -->		
<div class="row-fluid">
	<div class="span3">
		<li>
		   	<%= @dashboard.total_notes %>
		   	<%= image_tag "circle.svg",'data-original-title' => "Available after 30 days", :class => "arrows" %>
			<p>Total Notes<p>
		</li>
	</div>

	<div class="span3">
		<li>
			<%= @dashboard.total_posts %> 
			<%= image_tag "circle.svg",'data-original-title' => "Available after 30 days", :class => "arrows" %>
			<p>Number of Posts<p>
		</li>
	</div>

	<div class="span3">
		<li>
			<%= @dashboard.average_notes_per_post %>
			<%= image_tag "circle.svg",'data-original-title' => "Available after 30 days", :class => "arrows" %>
			<p>Avg Notes per Post<p>
		</li>
	</div>

	<div class="span3">
		<li>
			<%= @dashboard.followers %>
			<%= image_tag "circle.svg", 'data-original-title' => "Available after 30 days", :class => "arrows" %>
			<p>Followers<p>
		</li>
	</div>
	</ul>
</div>



