<h2>Snapshot</h2>
<div class="row-fluid">	
	<div class="bignums">
	<ul>
		<div class="span3">
			<%= render "snapshot_pageviews" %>
		</div>

		<div class="span3">
			<%= render 'snapshot_visitors' %>
		</div>

		<div class="span3">
			<%= render 'snapshot_avg_time_on_site' %>
		</div>
		<div class="span3">
			<%= render 'snapshot_mobile_ratio' %>
		</div>

<!-- Tumblr Information -->		
<div class="row-fluid">
	<div class="span3">
		<li>
		   322 <%= image_tag "circle.svg",'data-original-title' => "Availible after 30 days", :class => "arrows" %>
			<p>Total Notes<p>
		</li>
	</div>

	<div class="span3">
		<li>
			214 <%= image_tag "circle.svg",'data-original-title' => "Availible after 30 days", :class => "arrows" %>
			<p>Avg Number of Posts<p>
		</li>
	</div>

	<div class="span3">
		<li>
			108 <%= image_tag "circle.svg",'data-original-title' => "Availible after 30 days", :class => "arrows" %>
			<p>Avg Notes per Post<p>
		</li>
	</div>

	<div class="span3">
		<li>
			64 <%= image_tag "circle.svg", 'data-original-title' => "Availible after 30 days", :class => "arrows" %>
			<p>Followers<p>
		</li>
	</div>
	</ul>
</div>



