<div class="span6">

	<table summary="Your Websites Top Content" class="table table-striped"> 
	<h2>Top Content</h2>

		<tr>
			<th>Views</th>
			<th>Title</th>
		<tr>

		<% @pages.each do |page| %>

			<tr>
				<td><%= page.pageviews %></td>
				<% hostname = page.hostname %>
				<% pagepath = page.page_path %>
				<!-- Will not work for https:// look at google api for possible solution -->
				<td><%= link_to page.page_title, "http://#{hostname}" + "#{pagepath}" %></td>
			</tr>
		<% end %>
	</table>

<!-- 		<h2>All profiles</h2>
		<% @profiles.each do |profile| %>
		<%= profile.title %>: <%= profile.id %><br>
		<% end %>

		<h2>All Web Property ID</h2>
		<% @web_properties.each do |property| %>
		<%= property.account_id %>: <%= property.id %><br>
		<% end %> -->
</div>

