<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<%= render 'audience' %>
</div>

<br>

</div class="row-fluid">
	<%= render 'audiencenumbers' %>
</div>

<br>

<div class="row-fluid">
	<%= render 'trafficsources' %>
	<%= render 'topcontent' %>
</div>

<!-- <p>
	<b>Name:</b>
	<%= @dashboard.name %><br>
	<h2>Visits for the last 30 days</h2>
	<% @visits.each do |key, value| %>
	<%= key %>: <%= value %></br>
	<% end %>
</p> -->




<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>

