<%= form_for(@authorization) do |f| %>
  <% if @authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @authorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid form-override">
  <fieldset>
    <div class="field">
      <%= f.text_field :provider, :placeholder => "Provider" %><br />
    </div>
  <br />  
    <div class="field">
      <%= f.number_field :user_id, :placeholder => "User ID" %>
    </div>
  <br />  
    <div class="field">
      <%= f.text_field :access_token, :placeholder => "Access Token" %>
    </div>
  <br />
    <button type="submit" class="btn btn-large btn-flat">Sign In</button>
  <% end %>
  </fieldset>
</div>