<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="span1">
      <%= link_to image_tag("dashboardly_logo.svg", :width => 50), root_url %>    
    </div>

    <a class="brand" href="/">Mountain <small>BETA</small></a>
      <ul class="nav pull-right navigation">

      <% if current_user? %>
        <li class="btn btn-flat btn-nav"><%= link_to "Dashboards", dashboards_url %></li>
      <% end %>
<!-- Change routing url once static pages are made. -->
        <li class="btn btn-flat btn-nav"><%= link_to "About", about_url %></li> 
        <li class="btn btn-flat btn-nav"><%= link_to "Tumblr", "http://mountainmetrics.tumblr.com/" %></li>

      <% if current_user? %>
        <li class="btn btn-danger btn-flat signin">
          <%= link_to "Sign out", sign_out_url, method: :delete %>
        </li>
      <% else %>
        <li class="btn btn-danger btn-flat signin" >
          <%= link_to "Sign in", '/auth/google' %>
        </li>
      <% end %>  
      </ul>
  </div>
</div>