<!DOCTYPE html>
<html>
<head>
  <title>Dashboardly</title>

	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= render 'layouts/excanvas' %>
	<%= render 'layouts/fonts' %>
	<%= render 'layouts/favicon' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/navbar' %>

	<%= yield %>
</body>
</html>


