<!DOCTYPE html>
<html>
<head>
  <title>Mountain Metrics</title>
  <%= render 'layouts/tracking' %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= render 'layouts/excanvas' %>
	<%= render 'layouts/fonts' %>
	<%= render 'layouts/favicon' %>
  <%= render 'layouts/adwords_conversion' %>
  <%= csrf_meta_tags %>
  <meta name="verifyownership" content="87834edd8ede88ee61acd443caa4a9bf" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/navbar' %>
		<% flash.each do |key, value| %>
      <% if ![:track, :just_signed_up].include?(key) %>
			  <%= content_tag(:div, value, class: "alert  alert-#{key}") %>
      <% end %>
		<% end %>
	<%= yield %>

</body>

<%= render 'shared/footer' %>

</html>


