<!DOCTYPE html>
<html>
<head>
  <title>Dashboardly</title>
	<%= render 'layouts/google_analytics_tracking_code' %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= render 'layouts/excanvas' %>
	<%= render 'layouts/fonts' %>
	<%= render 'layouts/favicon' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/navbar' %>
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
	<%= yield %>

	
</body>
</html>


